


        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:active,
        input:-webkit-autofill:focus {
            background-color: rgb(33, 37, 41);
            color: rgb(33, 37, 41);
            -webkit-box-shadow: 0 0 0 1000px rgb(33, 37, 41) inset;
            -webkit-text-fill-color: #FFF;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: all 5000s ease-in-out 0s;
            transition-property: background-color, color;

        }


        #reset_password_h1 {
            text-align: center;
            margin-bottom: 3rem;
            margin-top: 0.5rem;
            color: #ffffffbf;

        }

        .spinner-border {
            width: 3rem;
            height: 3rem;
        }


        *:not(i) {
            color: white;
        }

        .input-container {
            display: flex;
            align-items: center;
            border: 1px solid #aaa;
            border-radius: 3px;
        }

        .input-container input {
            border: none;
        }


        .toggle {
            margin-top: -3px;
            margin-left: 10px;
        }

        a {
            font-size: 120%;
        }

        .invalid-feedback {
            font-size: 130%;
        }

        .text-light {
            font-size: 130%;
        }

        #email {
            height: 4rem;
        }


